/* register.css */

/* Card Styles */
.card {
    margin: 90px auto; /* Center the card */
    padding: 20px; /* Add padding to the card */
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.form-label {
    font-weight: bold;
  }
/* Body Styles */
body {
    background-color: black;
    background-image: url('img/i2.jpg'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important; 
  }
  
  .navbar-brand,
  .nav-link {
    color: #fff !important; 
  }
  
  /* Navbar Toggle Icon */
  .navbar-toggler-icon {
    background-color: #fff; 
  }
  
  /* Navbar Toggle Button */
  .navbar-toggler {
    border-color: #fff; 
  }
  .navbar-nav {
    margin-left: auto; /* Pushes the links to the right */
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Example: 20px */
  color: #343a40; /* Dark gray font color */
  margin-left: 10px; /* Add some space between links */
}

.navbar-nav .nav-link:hover {
  color: #212529; /* Slightly darker gray on hover */
}

.card-title{
  font-size: 2rem;
}

/* Alert Styles */
.alert {
    margin-top: 10px;
}

